      <%= form_for(@shiritori) do |f| %>
        <div class="form-group">
           <%= f.label :word, 'ワード' %>
          <%= f.text_area :word, class: 'form-control'%>
          
           <%= f.label :name, '名前' %>
          <%= f.text_area :name, class: 'form-control'%>
          
        </div>
        <%= f.submit '送信', class: 'btn btn-primary btn-block' %>
      <% end %>

<ul>
  <% @shiritoris.each do |shiritori| %>
    <li><%= shiritori.word %></li>
  <% end %>
</ul>


<%= paginate @shiritoris %>